* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}


/*-------------------navegacion.php------------------*/

.navegacion {
    background-color: rgb(64, 63, 63);
    position: fixed;
    width: 8%;
    height: 100%;
    transition: 0.5s;
    overflow: hidden;
    padding: 2%;
}

.navegacion:hover {
    width: 18%;
}

.navegacion ul {
    position: absolute;
}

.navegacion ul li {
    width: 150%;
    /* Quita de punto de la izquierda de la <a> */
    list-style: none;
    padding-right: 50%;
}

.navegacion li:hover {
    background-color: aquamarine;
    width: 149%;
    padding-right: 60%;
}

.navegacion ul li a {
    display: flex;
    text-decoration: none;
    color: black;
}

.navegacion ul li a .icono {
    min-width: 50%;
}


/* .icono img {
    width: 20%;
} */

.titulo {
    height: 7rem;
    font-size: 2rem;
}


/*++++++++++++++++++++++++++++++++++TODOS++++++++++++++++++++++++++++++++ */

.flex {
    display: flex;
}

.alineado {
    align-items: center;
}

body {
    background-color: #7bebe2;
}

.negrita {
    font-weight: bold;
}

form {
    margin-left: 30%;
}

.fondo_div {
    background-color: #79c1e0;
    min-height: 90.7vh;
}

.fondo_section {
    background-color: #7bebe2;
    min-width: 174.7vh;
}

.fondo_form {
    justify-content: center;
    align-items: center;
    background-color: #a8a8a8;
    min-height: 81vh;
    margin: 0 0.4%;
}


/* BOTON */

.button_prov {
    text-align: center;
    padding-bottom: 1%;
    margin-top: 10px;
}

.button_prov input {
    padding: 5px 10%;
    border-radius: 10px;
    background-color: #ae85e0;
}

.button_prov input:hover {
    cursor: pointer;
}

td img {
    width: 30px;
}

.img_elim {
    margin-top: 20px;
}

.primer_div {
    width: 65%;
    /* margin-left: 5%; */
}

.segundo_div {
    width: 20%;
}

.imagen-botones img {
    width: 50%;
}


/* TABLA */

table {
    margin-left: 33.7%;
}

.tabla {
    padding-top: 1%;
}

table,
th,
td {
    border: 2px solid black;
    text-align: center;
}

th {
    background-color: antiquewhite;
    font-size: 1.7rem;
    padding: 30px;
}

td {
    font-size: 1.5rem;
    padding: 8px;
}

td img {
    margin: 5px;
}


/*-------------------clientes1.php----------------*/

.div1 img {
    width: 3%;
    margin: 20px;
    margin-left: 10%;
}

.medio {
    padding-top: 35px;
    padding-left: 20px;
    font-size: 150%;
}

section h2 {
    text-align: center;
    padding: 15px;
    font-size: 40px;
}



/*------------clientes2.php------------------*/

