*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

                  /* Inicio.php */

.inicio
{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.contenedor_inicio
{
    background-color: #fff;
    padding: 20px;
    padding-bottom: 110px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.iniciar h2
{
    margin-bottom: 20px;
}


.iniciar img
{
    width: 20%;
    margin-bottom: 20px;
}

.iniciar input
{
    width: 60%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.links
{
    display: flex;
}

.links a
{
    text-decoration: none;
    color: #007BFF;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 103px;

}

.btn
{
    margin-top: 15px ;
    margin-bottom: 15px;
    background-color: #4caf50;
    color: #fff;
    width: 30%;
    padding: 10px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}



/* menuprinc.php, proveedores1.php,  */

body 
{
    background-color: #2222;
    margin: 0;
    display: flex;
    /* Asegura que el cuerpo tenga al menos el 100% de la altura de la ventana */
    min-height: 100vh; 
}

header 
{
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.fondo_section
{
    background-color: #a9e1ee;
}

.fondo_div
{
    background-color:#5CDFD7 ;
}
.fondo_form
{
    background-color:#5CDFD7 ;
}


/* proveedores1.php */